<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Критерии</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<table class="table table-bordered table-striped">
  <tr>
    <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle"></th>
    <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle">Учитываемые задачи</th>
    <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle">Нормировка</th>
    <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle">Обязательный или нет</th>
    <th scope="col" rowspan="2" style="text-align: center; vertical-align: middle">Где искать оценку</th>
    <th scope="col" colspan="3" style="text-align: center; vertical-align: middle">Необходимое количество задач на
      оценку
    </th>
  </tr>
  <tr>
    <th scope="col" style="text-align: center; vertical-align: middle">Задач на 3</th>
    <th scope="col" style="text-align: center; vertical-align: middle">Задач на 4</th>
    <th scope="col" style="text-align: center; vertical-align: middle">Задач на 5</th>
  </tr>
    {{range $contestName, $groups := .Criteria}}
        {{range $group := $groups.Groups}}
          <tr>
            <th scope="col">{{$group.Name}}</th>
            <td>{{$group.Tasks}}</td>
            <td>{{$group.Norm}}</td>
              {{if eq $group.Required true}}
                <td style="background-color: lightgreen">Обязательный</td>
              {{else}}
                <td style="background-color: lightcoral">Необязательный</td>
              {{end}}
            <td>{{$group.MarkDate}}</td>
            <td>{{$group.Mark3LowerBound}}</td>
            <td>{{$group.Mark4LowerBound}}</td>
            <td>{{$group.Mark5LowerBound}}</td>
          </tr>
        {{end}}
    {{end}}
</table>
</body>
</html>
